| Name                                | Linear classifier, % | Activations, % | Backprop, % | CNN, % | RNN, % | Avg (all) | Avg (participated) |
|-------------------------------------|----------------------|----------------|-------------|--------|--------|-----------|--------------------|
| Aleksej Nikolaevich Maksimenko      | 33,33                |                |             |        |        | 6,67      | 33,33              |
| Ananev Semen Sergeevich             | 66,67                |                |             |        |        | 13,33     | 66,67              |
| Batanina Ljubov Konstantinovna      | 100,00               | 100,00         | 66,67       | 70,59  | 100,00 | 87,45     | 87,45              |
| Virjasov Mihail Sergeevich          | 33,33                | 100,00         | 100,00      |        | 100,00 | 66,67     | 83,33              |
| Generalov Aleksandr Vjacheslavovich |                      |                | 0,00        |        |        | 0,00      | 0,00               |
| Gerasimov Dmitrij Gennadevich       | 100,00               |                |             |        |        | 20,00     | 100,00             |
| Gladyshev Aleksej Aleksandrovich    |                      |                | 100,00      | 23,53  | 100,00 | 44,71     | 74,51              |
| Gorozhanin Mihail Jurevich          | 66,67                |                | 100,00      |        |        | 33,33     | 83,33              |
| Gribov Pavel Nikolaevich            | 66,67                | 66,67          | 66,67       |        | 100,00 | 60,00     | 75,00              |
| Degtjarev Anton Jurevich            | 100,00               | 66,67          | 100,00      | 44,12  | 81,82  | 78,52     | 78,52              |
| Zinovev Vladimir Evgenevich         | 66,67                | 100,00         |             |        | 100,00 | 53,33     | 88,89              |
| Israfilov Marat Shavkatovich        | 66,67                | 66,67          | 100,00      | 23,53  | 81,82  | 67,74     | 67,74              |
| Kamelina Julija Dmitrievna          | 66,67                | 66,67          | 66,67       | 44,12  | 90,91  | 67,01     | 67,01              |
| Krasikova Ekaterina Andreevna       | 100,00               | 100,00         | 100,00      | 82,35  | 100,00 | 96,47     | 96,47              |
| Kuznecov Viktor Leonidovich         |                      |                |             |        | 36,36  | 7,27      | 36,36              |
| Kuznecov Vladislav Valerevich       | 66,67                | 66,67          | 66,67       | 26,47  | 100,00 | 65,29     | 65,29              |
| Kuznecov Konstantin Nikolaevich     | 33,33                | 66,67          |             |        |        | 20,00     | 50,00              |
| Kulikova Svetlana Aleksandrovna     | 100,00               | 66,67          | 33,33       | 17,65  |        | 43,53     | 54,41              |
| Levkin Anton Andreevich             |                      | 66,67          |             | 55,88  |        | 24,51     | 61,27              |
| Majachkin Arsenij Stanislavovich    | 33,33                | 66,67          | 33,33       | 55,88  | 100,00 | 57,84     | 57,84              |
| Nechesanov Vladimir                 | 33,33                | 33,33          | 100,00      |        |        | 33,33     | 55,56              |
| Okunev Boris Pavlovich              | 100,00               | 66,67          | 100,00      | 41,18  | 100,00 | 81,57     | 81,57              |
| Panov Aleksandr Alekseevich         | 66,67                | 100,00         | 100,00      | 29,41  | 90,91  | 77,40     | 77,40              |
| Panova Elena Anatolevna             | 66,67                | 100,00         | 100,00      | 35,29  | 100,00 | 80,39     | 80,39              |
| Protas Marija Pavlovna              |                      |                | 0,00        |        | 36,36  | 7,27      | 18,18              |
| Rodionov Fedor Andreevich           | 66,67                | 100,00         | 0,00        | 41,18  | 81,82  | 57,93     | 57,93              |
| Roman Daniil Valerevich             | 100,00               | 100,00         | 100,00      | 35,29  | 100,00 | 87,06     | 87,06              |
| Romanov Aleksandr Anatolevich       |                      | 100,00         | 100,00      | 29,41  | 100,00 | 65,88     | 82,35              |
| Senina Anastasija                   | 66,67                | 100,00         | 66,67       | 23,53  | 100,00 | 71,37     | 71,37              |
| Senjaev Andrej Dmitrievich          | 33,33                | 66,67          |             | 17,65  | 81,82  | 39,89     | 49,87              |
| Tarakanov Kirill Sergeevich         | 0,00                 | 100,00         | 66,67       | 64,71  | 100,00 | 66,27     | 66,27              |
| Tarasov Oleg Aleksandrovich         | 33,33                | 100,00         | 100,00      | 35,29  | 72,73  | 68,27     | 68,27              |
| Usova Marina Andreevna              | 66,67                | 33,33          | 66,67       | 52,94  | 90,91  | 62,10     | 62,10              |
| Homenko Aleksej Igorevich           | 66,67                |                |             |        |        | 13,33     | 66,67              |
| Shurgalin Aleksandr Vasilevich      | 66,67                | 66,67          |             |        | 90,91  | 44,85     | 74,75              |
| Shutina Svetlana Jurevna            | 33,33                | 66,67          | 100,00      |        | 81,82  | 56,36     | 70,45              |
